$calendar-paddding: 10px;
$gap: 1px;
$day-size: 100px;
$day-font-size: 30px;
$day-bg-color: #eee;
$day-bg-color-hover: #ffbfcb;

@function set-margin($num-of-week) {
  @return $num-of-week * ($day-size + $gap);
}

